/**
 * Change the background color of the Inbox label
 **/
.wT>.n3 .byl:first-child .aim:first-child .nZ {
	background-color: #e8eaed !important;
}

/**
 * Hide Hangouts chat interface
 **/

/* main friend list or sign in button */
#talk_roster,
iframe[src*=hangouts] {
	display: none !important;
}

/* bottom tab buttons */
/* .akc.aZ6 .J-KU-Jg.J-KU-Jg-Zc.aj5  */
.J-KU-Jg.J-KU-Jg-Zc.aj5 {
	height: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

body > div:nth-child(17) > div.nH > div > div.nH.bkL > div.no > div.nH.oy8Mbf.nn.aeN > div.akc.aZ6,
body > div:nth-child(17) > div.nH > div > div.nH.bkL > div.no > div.nH.oy8Mbf.nn.aeN > div.akc.aZ6 > div.T0.aND.pp.aj3 > div {
	height: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

/**
 * Change the compose button
 **/

/* button: change the color, remove the padding that aligns the image */
.z0>.L3,
.z0>.L3:hover {
	background-color: #427fed !important;
	color: #fff !important;
	padding: 0 12px !important;
	height: 36px !important;
	margin-left: 44px !important;
	border-radius: 4px !important;
}

/* button background image: remove it */
.z0>.L3::before {
	background-image: none !important;
	background-size: 0 !important;
	width: 0 !important;
	content: none !important;
}

/* button background image, hover: remove it */
.z0>.L3::before:hover {
	background-image: none !important;
	background-size: 0 !important;
	width: 0 !important;
	content: none !important;
}
